on boot
    chown system system /sys/class/leds/lm3630-lcd-bl/brightness
    chown system system /sys/class/leds/lm3630-lcd-bl/cabc
    chown system system /sys/class/leds/lm3630-lcd-bl/fsc
    chown system system /sys/class/leds/lm3630-lcd-bl/pwm


#SONY misc
service tad_static /system/bin/tad_static /dev/block/platform/msm_sdcc.1/by-name/TA 0,16
    user root
    group root
    socket tad stream 0660 system system
    class core

#QCOM sensors
service sensors /system/bin/sensors.qcom
    class main
    user root
    group root

#MAC setup
service btnvtool /system/bin/btnvtool -I
    user root
    group root
    oneshot

#OSS BT setup
service bt_addr /system/bin/bt_addr
    class late_start
    user root
    group root
    oneshot

